<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @user.name %>,</h1>
    <p> You have been added to the Team of Hoot Recruit</p>
    <p> Your Hoot Recruit EMail is <%= @user.email %></p>
    <p> Your Hoot Recruit Password is <%= @password %></P>
    <p> Login to Hoot Recruit using these credentials</p>
    <p> Change the Password when you login at first time </p>
  </body>
</html>