<!--Sorry About the Heavy CSS But its neaded for the components make it external for quicker load time :) -->
<%= stylesheet_link_tag "application", :media => "all" %>
<%= stylesheet_link_tag "pricing", :media => "all" %>
<div id="price_header">
	<div class="container">
		<div id="price_logo">
			HOOTRECRUIT
		</div>
		<div id="price_phone">
			Call : 305-555-5555
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<p id="free_trail">
		7-DAY FREE TRAIL ON ALL ACCOUNTS
		</p>
		<p id="pick_plan">
		Pick a plan & sign up in 60 seconds. Upgrade, downgrade, cancel at any time.
		</p>
	</div>
	<div class="row" id="pricing_boxs">
		<div class="span4 plan_style1">
			<p class="no_user_style1">2-5 USERS</p>
			<p class="text_style1 text_style">$89/month, per user</p>
			<p class="text_style2 text_style">Store Unlimited</p>
			<p class="text_style3 text_style">Candidates</p>
			<a href="register.html"><img src="img/pricint_btn_small.png" class="plan_button_style" alt=""></a>
		</div>
		<div class="span4 plan_style2">
			<p class="no_user_style2">SINGLE USER</p>
			<p class="text_style4 text_style_big">99/month, per user</p>
			<p class="text_style5 text_style_big">Store Unlimited</p>
			<p class="text_style6 text_style_big">Candidates</p>
			<a href="register.html"><img src="img/pricint_btn_big.png" class="plan_button_style" alt=""></a>
		</div>
		<div class="span4 plan_style1" id="five_users">
			<p class="no_user_style1">5 + USERS</p>
			<p class="text_style1 text_style">$89/month, per user</p>
			<p class="text_style2 text_style">Store Unlimited</p>
			<p class="text_style3 text_style">Candidates</p>
			<a href="register.html"><img src="img/pricint_btn_small.png" class="plan_button_style" alt=""></a>
		</div>
	</div>
	<p id="everything_text">
	Everything in your HootRecruit account is safe, secure and password protected
	</p>
	<div id="faq">
		<p id="faq_head">The Answer Is YES!</p>
		<p class="faq_text">Can I import candidates from Outlook, Excel, LinkedIn?</p>
		<p class="faq_text">Can I access this on a PC? A Mac? An iPad? An iPhone? An Android Phone?</p>
		<p class="faq_text">Can I cancel anytime?</p>
		<p class="faq_text">Can I find candidates with very specific keywords?</p>
		<p class="faq_text">Can I search for keywords within resumes?</p>
		<p class="faq_text">Can I enter and save notes in my candidates profiles?</p>
		<p class="faq_text">Can I mass email all my candidates from a search result?</p>
		<p class="faq_text">Can I access my HootRecruit account from any brower such as Chrome, FireFox, Safari, etc.?</p>
		<p class="faq_text">Can I attach documents to my candidates profiles?</p>
		<p class="faq_text">Can I forward a candidates email to my HootRecruit account to save email to their notes?</p>
		<p class="faq_text">Will I get the hang of HootRecruit right away?</p>
		<p class="faq_text">Does HootRecruit automatically back up my candidates daily?</p>
		<p class="faq_text">Is HootRecruit user friendly and frustration free?</p>
		<p class="faq_text">Can I add or delete users anytime I want?</p>
		<p class="faq_text">Will my recruiters be able to see who's candidate is who's?</p>
		<p class="faq_text">Will my recruiters view and have access to each others candidates?</p>
		<p class="faq_text">Can I save and store an unlimited amount of candidates?</p>
		<p class="faq_text">Is HootRecruit easier to use then the other CRM's out there?</p>
		<p class="faq_text">Can I create and manage a call list for each one of my job orders?</p>
		<p class="faq_text">Can I upload a candidates picture to their profile?
		<p class="faq_text faq_text_last">Will I love HootRecruit?
	</div>
</div>