<!--Sorry About the Heavy CSS But its neaded for the components make it external for quicker load time :) -->
<%= stylesheet_link_tag "application", :media => "all" %>
<style>
 .well{
  background-color: rgba(238, 225, 214, 0.63);
 }
 .span{
 	margin-left: 3px !import;
 }
</style>

    <div class="row">
    	<div class="span4"> </div>
	    <div class="span8"> <center>
	      <h1>7-day Free Trial on All Accounts</h1>
	      <h5>Pick a plan & sign up in 60 seconds. Upgrade, downgrade, cancel at any time.</h5></center>   
	    </div> 
	    <div class="span2"> </div>
    </div> 
    
      <div class="pricing-table pricing-three-column">
      	<div class="span1"></div>

        <div class="span3 plan" id="plan1">
          <div class="plan-name-bronze">
            <h4>2-5 Users</h4>
            <span>$89/Month, per user</span>
          </div>
          <ul>
          	<li></li>
          	<li class="plan-feature"></li>
            <li class="plan-feature">Store Unlimited Candidates</li>
            <li class="plan-feature"><a href="#" class="btn btn-success">Choose Plan</a></li>
          </ul>
        </div>

        <div class="span3 plan" id="plan2">
          <div class="plan-name-silver">

            <h3>Single User <!-- <span class="badge badge-warning">Single User</span> --></h3>
            <span><strike>$199</strike>   <font color="red"> <span class="label label-warning">$99 -/Month</span></font></span>
          </div>
          <ul>
          	<li class="plan-feature"></li>
            <li class="plan-feature">Store Unlimited Candidates</li>
            <li class="plan-feature"><a href="#" class="btn btn-success">Choose Plan</a></li>
          </ul>
        </div>

        <div class="span3 plan" id="plan3">
          <div class="plan-name-gold">
            <h4>5 + Users</h4>
            <span>$79/Month, per User</span>
          </div>
          <ul>
          	<li class="plan-feature"></li>

            <li class="plan-feature">Store Unlimited Candidates</li>
         
            <li class="plan-feature"><a href="#" class="btn btn-success">Choose Plan</a></li>
          </ul>
        </div>

        <div class="span2"></div>
      </div>
    

 <div class="row">
 	<div class="span4"></div>
 	<div class="span3">
  		<p class="center">Questions? Call 305-555-5555</p> 	
  </div>
 <div class="span4"></div>
 </div>
   
  <div class="row">
    <div class="span3"></div>
	   <div class="span10 well">
		   <table class="table">
				  <thead>
			      <tr>
			          <th><center></center></th>                                     
			      </tr>
				  </thead>   
					  <tbody>
					    <tr>
					        <td>Can I import candidates from Outlook, Excel, Linkedin?</td>
					    </tr>
					    <tr>
					        <td>Can I access my HootRecruit account from any browser such as Chrome, FireFox, Safari, etc??</td>
					    </tr>
					    <tr>
					        <td>Can I access this on a PC? A Mac? An iPad? An iPhone? An Android Phone?</td>
					    </tr>
					     <tr>
					        <td>Can I create and manage a call list for each one of my job orders?</td>
					    </tr>
					     <tr>
					        <td>Can I find candidates with very specific keywords?</td>
					    </tr>
					     <tr>
					        <td>Can I search for keywords within resumes?</td>
					    </tr>
					     <tr>
					        <td>Can I enter and save notes in my candidates profiles?</td>
					    </tr>
					     <tr>
					        <td>Can I mass email all my candidates from a search result?</td>
					    </tr>
					     <tr>
					        <td>Can I attach documents to my candidates profiles?</td>
					    </tr>
					     <tr>
					        <td>Can I forward a candidates email to my HootRecruit account to save email to their notes?</td>
					    </tr>
					     <tr>
					        <td>Will I get the hang of HootRecruit right away?</td>
					    </tr>
					     <tr>
					        <td>Does HootRecruit automatically back up my candidates daily?</td>
					    </tr>
					    
					    <tr>
					        <td>Can I add or delete users anytime I want?</td>
					    </tr>
					    <tr>
					        <td>Will my recruiters be able to see who's candidate is who's?</td>
					    </tr>
					    <tr>
					        <td>Will my recruiters view and have access to each others candidates?</td>
					    </tr>
					    <tr>
					        <td>Can I save and store an unlimited amount of candidates?</td>
					    </tr>
					    <tr>
					        <td>Can I cancel anytime?</td>
					    </tr>
					    <tr>
					        <td>Is HootRecruit user friendly and frustration free?</td>
					    </tr>
					    <tr>
					        <td>Is HootRecruit easier to use then the other CRM's out there?</td>
					    </tr>
					    <tr>
					        <td>Can I upload a candidates picture to their profile?</td>
					    </tr>
					    <tr>
					        <td>Can I upgrade, downgrade, or cancel any time?</td>
					    </tr>
					    <tr>
					        <td>Will I love HootRecruit?</td>
					    </tr>      
					  </tbody>
			 </table>
		 </div>
		 <div class="span1"></div>	
  </div>
