
.search .title{
  padding: 15px 0px;
}
.search .input-keyword{
  margin-bottom: 10px;
  height: 30px;
}
.search .candidate-list ul{
  margin-left: -5px;
  list-style: none;
}
.search .candidate-list a{
  color: #000;
  text-decoration: underline;
}
.search .candidate-list span{
  display: block;
}
.search .candidate-list{
margin-bottom: 0px;
margin-left: -10px;
margin-top: 0px;
overflow-y: auto;
overflow-x: hidden;
width: 619px;
height: 785px;
}
.search .candidate-list .blue{
  background: #eaf5fd;
}
.search .candidate-list img{
  margin-left: 10px;
  margin-top: -18px;
}
.search .candidate-list li{
  width: 615px;
  margin-left: 5px;
  padding: 15px 0px 8px 0px;
  border-bottom: 1px #eee dashed;
}
.search .candidate-list input{
  margin-top: 0px;
}
.search .candidatre-list-inner{
  width: 614px;
}

.search .candidatre-list-inner div{
  display: inline-block;
  padding-right: 10px;
}
.search .candidatre-list-inner .details{
  padding-right: 0px;
}
.search .name-title,.search .keys,.search .check,.search .phone{
  margin-top: 10px;
}
.search .name-title{
  width: 120px;
}
.search .keys{
  width: 210px;
}
.search .phone{
  width: 95px;
}
.search .check{
}
.sortBy{
max-width: 615px;
background: #000;
color: #fff;
margin-left: -6px;
margin-top: -5px;
height: 25px;
padding: 5px 12px;
}
.sortBy button, .bottomLink button {
  border: none !important;
  background: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  color: #fff;
  text-decoration: underline;
}
 .bottomLink{
  margin-top: 15px;
 }
 .bottomLink button{
  font-family: fgmc;
  font-size: 17px;
  color: #0084ab;
  padding-right: 30px;
 }
.sortBy img{
  padding-left: 5px;
}
.sortBy .selectall{
  margin-right: -15px;
}
.sortBy span{
  display: inline-block;
  padding-right: 10px;
}
.width609{
  width: 609px;
}

.quickView {
  margin-left: 30px;
  color: #594b4e;
}
.quickview .info{
  border-bottom: 1px #eee solid;
  padding: 10px 0px;
}

.quickView span{
  display: block;
  padding: 5px;
  font-size: 16px ;
}
.quickView .name{
  font-size: 21px !important;
  font-family: fgmc;
  color: #0297c5;
}
.profile-box .displayBlock{
  font-size: 16px;
  margin-top: 8px;
}
.fieldTitle{
  font-family: fgmc;
  font-size: 18px !important;
}
.fieldTitle a{
  font-family: "Calibri";
  font-size: 14px !important;
  padding-left: 25px;
}
.footer-search{
  height: 75px;
}

.no-more-list-box{
  height:785px;
  text-align: center;
margin-top: 100px;
font-family: fgb;
font-size: 15px;
}
.sortBy button[disabled],.bottomLink button[disabled]{
  color: #888888;
}
.sortBy input {height: 25px;
padding: 10px;
margin-bottom: 0px;}

.view-candidate-quick {
text-align: center;
margin-top: 210px;
font-family: fgb;
font-size: 15px;
}