
/* -- Call List -- */
.height685{
  height: 685px;

}
.borderRight1{
  border-right: 1px #eee solid;
}
.borderBottom1{
  border-bottom: 1px #eee solid;
}
.footer-call{
  height: 75px;
}
.view-candidate-quick{
  text-align: center;
  margin-top: 210px;
  font-family: fgb;
  font-size: 15px;
}
.view-candidate-quick span{
  display: block;
  padding: 10px;
}
.call-lists{
  margin-left: 15px;
  margin-top: -5px;
  overflow-y: auto; 
  overflow-x: hidden; 
}
.call-lists ul{
  margin-left: -5px;
  list-style: none;
}
.call-lists li{
  padding: 15px;
  border-bottom: 1px #eee solid;
  font-family: fgmc;
  font-size: 15px;
}
.call-lists .active{
  background: #eaf5fd;
}
.candidate-list{
  margin-left: 0px;
  margin-top: -5px;
  overflow-y: auto; 
  overflow-x: hidden; 
}
.candidate-list ul{
  margin-left: -5px;
  list-style: none;
}
.candidate-list li{
  padding: 10px 0px;
  border-bottom: 1px #eee dashed;
}
.candidate-list a{
  color: #000;
  text-decoration: underline;
}
.candidate-list span{
  display: block;
}
.candidate-list img{
  margin-left: 15px;
}
.candidate-list .span2{
  margin-top: 5px;
}
.candidate-list .likebox{
  margin-top: 10px;
  margin-left: 10px;
}
.candidate-list input{
  margin-top: -5px;
  margin-right: 15px;
}
.candidate-list .span1{
  margin-left: 15px;
}
.candidate-list .green{
  background: #f0fadc;
}
.candidate-list .blue{
  background: #eaf5fd;
}
.candidate-list .yellow{
  background: #fffec2;
  padding: 30px 0px;
  font-size: 15px;
  text-align: center;
}
.candidate-list .gray{
  opacity:0.4;
  color: #c4c4c4;
  border-bottom: 1px #D8D8D8 dashed;
}
.quickView {
  margin-left: 30px;
  color: #594b4e;
  overflow-y: auto;
}
.quickview .info{
  border-bottom: 1px #eee solid;
  padding: 10px 0px;
}

.quickView span{
  display: block;
  padding: 5px;
  font-size: 16px ;
}
.quickView .name{
  font-size: 21px !important;
  font-family: fgmc;
  font-weight: bold;
  color: #0297c5;
}
.profile-box .displayBlock{
  font-size: 16px;
  margin-top: 8px;
}
.fieldTitle{
  font-family: fgmc;
  font-size: 18px !important;
}
.fieldTitle a{
  font-family: "Calibri";
  font-size: 14px !important;
  padding-left: 25px;
}
.sendmail{
  font-size: 17px;
  font-family: fgmc;
  padding: 15px 0px;
}
.changeToHidden{
  display: none;
}
.stop-delete{
  padding-top: 35px;
  font-size: 14px !important;
  font-family: fgmc;
}
.stop-delete a,.stop-delete a:hover{
  text-decoration: none;
  color: #594b4e;
}
.stop-delete img,.stop-delete span{
  padding-right: 10px;
}
.true{
  display: block;
}
.false{
  display: none;
}