<%= stylesheet_link_tag "landing" %>

<div class="body-content landing">
		<div class="container">
			<div class="row">
				<div class="span12 welcome-msg spanBlock">
					<span class="fontsize25">WELCOME</span>
					<span class="fontsize30">Get started: <a href="">Add candidates to your account</a></span>
				</div>			
			</div>
			<div class="row">
				<div class="span12 welcome-below">
					<span>Below is a example of what your account will look like once you've added all of your candidates!</span>
				</div>			
			</div>
			<div class="row">
				<div class="span12">
					<div class="welcome-search">
						<img src="/assets/welcome-search.png">
					</div>			
				</div>			
			</div>
			
		</div>
	</div>