<script type="text/javascript">
window.call_lists = <%= get_call_list%>;
</script>
<%= stylesheet_link_tag "call_list/application"%>
<%= javascript_include_tag "call_list/application"%>
<div ng-app="app" class="body-content">
  <div  ng-controller="call_list_controller" class="container">
    <div class="alert hide" >{{message}}</div>
    <div class="row">
      <div class="span6">
        <div class="title">Call Lists</div>
      </div>
      <div class="stop-delete pull-right">
        <span>
        <a ng-click="stop_process()" href=""><img src="/assets/icon-stop.png">Stop here and Save my place</a>
        </span>
        <span>
        <a ng-click="delete_call_list()" href=""><img src="/assets/icon-delete.png">Delete Call List</a>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="span12 outlined">
        <div class="row">
          <div class="span3 call-lists height685 borderRight1">
            <ul>
              <li ng-repeat="call_list in call_lists" ng-class="{active: $index==selectedIndex}" ng-click="show_candidates($index)">{{ call_list.name}}</li>
            </ul>
          </div>
          <!-- Only Call List -->
          <div class="whole_candidate_msg">
            <div class="span9">
              <div class="view-candidate-quick">
                <span>View your call lists.</span>
                <span>Click on the call list on the left to view your list.</span>
              </div>
            </div>
          </div>
          <!-- Only Call & Candidate List -->
          <div class="whole_candidate_list hide">
            <div class="span5 candidate-list height685 borderRight1">
              <div ng-repeat="date in dates">
                <ul>
                  <li class="green" ng-repeat="candidate in date.approved_candidates">
                    <div class="row" ng-click="view_candidate($parent.$index,$index,'approved')">
                      <div class="span1">
                        <img class="profile-pic50" src="{{candidate.profile_pic_url}}">
                      </div>
                      <div class="span2">
                        <span class="calibri17"><a href="">{{ candidate.name}}</a></span>
                        <span class="calibri15">{{candidate.position}}</span>
                      </div>
                      <div class="span2 likebox">
                        <img ng-click="approval($parent.$index,$index,'rejected','approved')" src="/assets/unlike.png" />
                        <input class="pull-right" ng-click="make_selection(candidate.email,$event)"  type="checkbox">
                      </div>
                    </div>
                  </li>
                  
                  <li class="" ng-repeat="candidate in date.newly_added_candidates">
                    <div class="row" ng-click="view_candidate($parent.$index,$index,'newly_added')">
                      <div class="span1">
                        <img class="profile-pic50" src="{{candidate.profile_pic_url}}">
                      </div>
                      <div class="span2">
                        <span class="calibri17"><a href="">{{ candidate.name}}</a></span>
                        <span class="calibri15">{{candidate.position}}</span>
                      </div>
                      <div class="span2 likebox">
                        <img ng-click="approval($parent.$index,$index,'rejected','newly_added')" src="/assets/unlike.png" />
                        <img ng-click="approval($parent.$index,$index,'approved','newly_added')" src="/assets/like.png" />
                        <input class="pull-right" ng-click="make_selection(candidate.email,$event)"  type="checkbox">
                      </div>
                    </div>
                  </li>
                </ul>
                <ul class="{{(date.date != null)}}" >
                  <li class="yellow">
                    left off here on {{date.date}}
                  </li>
                </ul>
              </div>
              <ul>
                <li class="gray" ng-repeat="candidate in rejected_candidates">
                  <div class="row" ng-click="view_candidate($parent.$index,$index,'rejected')">
                    <div class="span1">
                      <img class="profile-pic50" src="{{candidate.profile_pic_url}}">
                    </div>
                    <div class="span2">
                      <span class="calibri17"><a href="">{{ candidate.name}}</a></span>
                      <span class="calibri15">{{candidate.position}}</span>
                    </div>
                    <div class="span2 likebox">
                      <a ng-click="approval($parent.$index,$index,'newly_added','rejected')" src="/assets/unlike.png" >un-delete</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="view-candidate-quick span4">
                <span>Quickly view your candidates.</span>
                <span>Select a candidate to view their full details.</span>
            </div>
            <div class="span4 quickView height685 position-relative hide">
              <div class="profile-box">
                <img src="{{can.profile_pic_url}}" class="profile-pic100">
                <a href="/candidates/{{can.id}}/edit" class="displayBlock">Edit</a>
              </div>
              <div class="info">
                <span class="name">{{ can.last_name}} {{ can.first_name}}</span>
                <span>{{ can.position}}</span>
                <span class="fieldTitle">Company:</span>
                <span>{{ can.company}}</span>
                <span class="fieldTitle">Experience:</span>
                <span>{{ can.experience}} years</span>
                <span class="fieldTitle">Keywords:</span>
                <span>{{ can.get_tags}}</span>
                <span class="fieldTitle">Location:</span>
                <span>{{ can.city}}, {{can.state}}</span>
                <span class="fieldTitle">Cell phone:</span>
                <span>{{ can.contact_number}}</span>
                <span class="fieldTitle">Email:</span>
                <span>{{ can.email}} | <a ng-click="send_mail(can.email)" href="">send email</a> </span>
                <span><a target="_blank" href="{{can.resume}}">View Resume</a></span>
              </div>
              <div class="notes">
                <span class="fieldTitle"> Note :<a ng-click="add_note()">Add a Note</a></span>
                <div class='new-note-form hide'>
                  <textarea ng-model='note.candidate_note' id="candidate_note" required></textarea>
                  <p><span class="pull-left"><a class="btn" ng-click='create_note()'>Create</a></span>
                  <span class="pull-right"><a class="btn btn-danger" ng-click='close_note()'>Close</a></span>
                  </p>
                  <p class="clearfix"></p>
                </div>
                <div class="notes-repeat" ng-repeat ="note in can.notes">
                  <p><span class="pull-left">{{note.date}}</span>
                  <span class="pull-right">by {{note.creater_name}}</span>
                  </p>
                  <p class="clearfix"></p>
                  <p>{{note.candidate_note}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="span3 offset3 sendmail changeToHidden-show">
        <a ng-click="send_mail()" href="">Send Mail</a>
      </div>
    </div>
  </div>
</div>
<div class="footer-call">

</div>
<script type="text/javascript">
var app = angular.module("app",["ngResource"]);
app.filter('getIndexById', function() {
  return function(input, id) {
    var i=0, len=input.length;
    for (; i<len; i++) {
      if (+input[i].id == +id) {
        return i;
      }
    }
    return null;
  }
});
app.controller('call_list_controller', ['$scope','$http','$filter',
  function($scope, $http, $filter) {
    $scope.call_lists=window.call_lists;
    $scope.approved_candidates = [];
    $scope.selected_candidates = [];
    $scope.rejected_candidates = [];
    $scope.newly_added_candidates = [];
    $scope.edit="Edit";
    $scope.message="aa";

    $scope.$watch('message', function() {
      if ($scope.message!="aa"){
        $(".alert").fadeIn(500).delay(5000).fadeOut(2000,function(){
          $scope.message="aa";
          $scope.$digest();
        });
      }
    });

    $scope.show_candidates = function(index) {
      $scope.selectedIndex = index;
      $scope.current_call_list = $scope.call_lists[index];

      $http.get("/get_candidates/"+$scope.current_call_list.id).
      success(function(data, status) {
        $scope.dates = data.dates;
        $scope.rejected_candidates = data.rejected_candidates;
        $(".whole_candidate_msg").hide();
        $(".whole_candidate_list").show();
        $(".quickView").hide();
        $(".view-candidate-quick").show();
      }).
      error(function(data, status) {
      });
    };

    $scope.view_candidate = function(parent_index,index,status){
      $scope.current_date_index=parent_index;
      if(status=='rejected')
        eval("$scope.can = $scope."+status+"_candidates[index];");
      else
        eval("$scope.can = $scope.dates[parent_index]."+status+"_candidates[index];");
      $(".quickView").show();
      $(".view-candidate-quick").hide();
    };

    $scope.make_editable=function(candidate){
      $scope.can = candidate;
      if($scope.edit == "Edit"){
        $(".edit-content").show();
        $(".QV-content-call-list").hide();
        $scope.edit = "Save";
      }
      else{
        $scope.save();
        $(".edit-content").hide();
        $(".QV-content-call-list").show();
        $scope.edit="Edit";
      }
    };

    $scope.save = function() {
      $http({method:"PUT",
        url:"/candidates/"+$scope.can.id,
        headers:{'X-CSRF-Token': $('meta[name=csrf-token]').attr('content')},
        data: {candidate:$scope.can} }).
      success(function(data, status) {
      }).
      error(function(data, status) {
      });
    };

    $scope.delete_call_list = function(){
      if($scope.current_call_list)
      {
        if(confirm("Are you sure to delete call list : "+$scope.current_call_list.name))
        {
          var id = $scope.current_call_list.id;
          $http.delete("/call_lists/"+id,{headers:{'X-CSRF-Token': $('meta[name=csrf-token]').attr('content')}}).
          success(function(data, status) {
            index = $filter('getIndexById')($scope.call_lists,id);
            $scope.call_lists.splice(index,1);
          }).
          error(function(data, status) {
          });
        }
      }
      else{
        $scope.message = "CLick the call list first";
      }
    };

    $scope.approval = function(parent_index,index,status,source){
      $scope.view_candidate(parent_index,index,source);
      if(source=='rejected')
        eval("$scope."+source+"_candidates.splice(index,1);");
      else
        eval("$scope.dates[parent_index]."+source+"_candidates.splice(index,1);");
      $http.post("/approval/"+$scope.current_call_list.id+"/"+$scope.can.id,
        {status:status},
        {headers:{'X-CSRF-Token': $('meta[name=csrf-token]').attr('content')}}).
      success(function(data, status) {
        if(data.status=="rejected")
          js_to_run = "$scope.rejected_candidates.push($scope.can);";
        else if (source == 'rejected')
          js_to_run = "$scope.dates[$scope.dates.length-1]."+data.status+"_candidates.push($scope.can);";
        else
          js_to_run = "$scope.dates[parent_index]."+data.status+"_candidates.push($scope.can);";
        eval(js_to_run);
      }).
      error(function(data, status) {
      });
    };

    $scope.make_selection = function(email,event){
      if(event.target.checked==true)
        $scope.selected_candidates.push(email);
      else
        $scope.selected_candidates.splice($scope.selected_candidates.indexOf(email),1);
    };


    $scope.stop_process = function(){
      console.log($scope.current_call_list)
      if($scope.current_date_index != undefined){
        from = 'approved';
        index = $filter('getIndexById')($scope.dates[$scope.current_date_index].approved_candidates,$scope.can.id);
        if(index==null || undefined){
          from='newly_added';
          index = $filter('getIndexById')($scope.dates[$scope.current_date_index].newly_added_candidates,$scope.can.id);
        }
        ids = []
        if(from == 'approved')
        {
          for(i=0;i<=index;i++)
            ids.push($scope.dates[$scope.current_date_index].approved_candidates[i].id)
        }
        else
        {
          for(i=0;i<=$scope.dates[$scope.current_date_index].approved_candidates.length-1;i++)
            ids.push($scope.dates[$scope.current_date_index].approved_candidates[i].id);
          for(i=0;i<=index;i++)
            ids.push($scope.dates[$scope.current_date_index].newly_added_candidates[i].id);
        }
        $http.post("/stop_here/"+$scope.current_call_list.id,
          {candidate_ids: ids.join(",")},
          {headers:{'X-CSRF-Token': $('meta[name=csrf-token]').attr('content')}}).
        success(function(data, status) {
          $scope.message="You stopped the selection"
          window.location.href="/search";
        }).
        error(function(data, status) {
        });
      }
    };

    $scope.create_note = function(){
      if($("#candidate_note").hasClass("ng-valid"))
      {
        $scope.note.candidate_id = $scope.can.id;
        var data = $scope.note;
        console.log(data);
        $http({method:"POST",
          url:"/notes",
          data:{note:data},
          headers:{'X-CSRF-Token': $('meta[name=csrf-token]').attr('content')}
        }).
        success(function(data, status) {
          $(".new-note-form").slideUp();
          $scope.can.notes.push(data);
        }).
        error(function(data, status) {
        });
      }
      else{
        $("#candidate_note").focus();
      }
    };

    $scope.send_mail = function(){
      var emails=[];
      if( $scope.selected_candidates.length>0){
          to = $scope.selected_candidates[0]
          location.target="_blank";
          location.href="mailto:"+to+ "?bcc="+$scope.selected_candidates.join(",");
        }
        else 
          $scope.message = "You must select atleast one candidate";
    };
    $scope.add_note = function(){
      $(".new-note-form").slideDown();
      $scope.note.candidate_note="";
    };

    $scope.close_note = function(){
      $(".new-note-form").slideUp();
    };
  }
  ]);
</script>