<script type="text/javascript">
window.call_lists = <%= get_call_list%>;
</script>
<%= stylesheet_link_tag "call_list/application"%>
<%= javascript_include_tag "call_list/application"%>
<div ng-app="app">
  <div class="container call-list-container" ng-controller="call_list_controller">
    <div class="row">
      <p>
      <span class="bold span6">Call Lists</span>
      <span class="span3 offset1">
        <a ng-click="stop_process()" class="pull-right"> Stop Here and save my place </a>
      </span>
      <span class="span2">
        <a ng-click="delete_call_list()" class=""> Delete Call List </a>
      </span>
      </p>
    </div>
    <div class="row" >
      <div class="span4">
        <div class="call_list">
          <ul>
            <li ng-repeat="call_list in call_lists">
              <div ng-click="show_candidates($index)"><h4>{{ call_list.name}}</h4></div>
            </li>
          </ul>
        </div>
      </div>
      <div class="span4">
        <div class="candidates_list">
          <ul class="date">
            <li ng-repeat="date in dates">
              <ul class="candidates_listing">
                <li class="approved" ng-repeat="candidate in date.approved_candidates">
                  <div class="row pTopBot20" ng-click="view_candidate($parent.$index,$index,'approved')">
                    <div class="span1"><img class="profile-pic50" src="{{candidate.profile_pic_url}}"></div>
                    <div class="span2">
                      {{ candidate.name}}
                    </div>
                    <div class="span1 actions">
                      <a ng-click="approval($parent.$index,$index,'rejected','approved')"><i class="icon-thumbs-down"></i></a>
                    </div>
                  </div>
                </li>
                <li class="newly_added" ng-repeat="candidate in date.newly_added_candidates">
                  <div class="row pTopBot20" ng-click="view_candidate($parent.$index,$index,'newly_added')">
                    <div class="span1"><img class="profile-pic50" src="{{candidate.profile_pic_url}}"></div>
                    <div class="span2">
                      {{ candidate.name}}
                    </div>
                    <div class="span1 actions">
                      <a ng-click="approval($parent.$index,$index,'approved','newly_added')"><i class="icon-thumbs-up"></i></a>
                      <a ng-click="approval($parent.$index,$index,'rejected','newly_added')"><i class="icon-thumbs-down"></i></a>
                    </div>
                  </div>
                </li>
              </ul>
              <p>{{date.date}}</p>
            </li>
          </ul>
          <ul class="candidates_listing">
            <li class="rejected" ng-repeat="candidate in rejected_candidates">
                  <div class="row pTopBot20" ng-click="view_candidate('',$index,'rejected')">
                    <div class="span1"><img class="profile-pic50" src="{{candidate.profile_pic_url}}"></div>
                    <div class="span2">
                      {{ candidate.name}}
                    </div>
                    <div class="span1 actions">
                      <a ng-click="approval('',$index,'approved','rejected')"><i class="icon-thumbs-up"></i></a>
                    </div>
                  </div>
                </li>
              </ul>
        </div>
      </div>
      <div class="span4">
      <div class="QV-content-call-list">
      <div class="profile-box">
        <img class="profile-pic125" src="{{can.profile_pic_url}}">
      </div>
        <div class="row NameDiv">
          <div class="span4">
            <div class="name"><a href="#"><span class="make_edit">{{ can.first_name}} {{ can.last_name}}</span></a></div>
            <span class="title">{{ can.position}}</span>
          </div>
        </div>
        <div class="innerDiv row">
          <div class="span4">
            <span class="bold">Company:</span>
            <span class="make_edit">{{ can.company}}</span>
          </div>
        </div>
        <div class="innerDiv row">
          <div class="span4">
            <span class="bold">expereience:</span>
            <span class="make_edit">{{ can.experience}} years</span>
          </div>
        </div>
        <div class="innerDiv row">
          <div class="span4">
            <span class="bold">tags:</span>
            <span >{{ can.get_tags}}</span>
          </div>
        </div>
        <div class="innerDiv row">
          <div class="span4">
            <span class="bold">location:</span>
            <div><span class="make_edit">{{ can.city}}</span><span class="make_edit"> {{can.state}}</span></div>
          </div>
        </div>
        <div class="innerDiv row">
          <div class="span4">
            <span class="bold">cell phone:</span>
            <span class="make_edit">{{ can.contact_number}}</span>
          </div>
        </div>
        <div class="innerDiv row">
          <div class="span4">
            <span class="bold">email:</span>
            <span class="make_edit">{{ can.email}} | <a ng-click="send_mail(can.email)" href="">send email</a></span>
          </div>
        </div>
        <div class="innerDiv row">
          <div class="span4">
            <span><a target="_blank" href="{{can.resume}}">view resume</a></span>
          </div>
        </div>
        <div class="innerDiv row">
          <div class="span4">
            <span><a ng-click="send_mail(can.email,can.id)" href="">attach resume to email</a></span>
          </div>
        </div>
        
      </div>
      </div>
      
    </div>
  </div>
</div>
<script type="text/javascript">
var app = angular.module("app",["ngResource"]);
app.filter('getIndexById', function() {
  return function(input, id) {
    var i=0, len=input.length;
    for (; i<len; i++) {
      if (+input[i].id == +id) {
        return i;
      }
    }
    return null;
  }
});
app.controller('call_list_controller', ['$scope','$http','$filter',
  function($scope, $http, $filter) {
    $scope.call_lists=window.call_lists;
    $scope.approved_candidates = [];
    $scope.rejected_candidates = [];
    $scope.newly_added_candidates = [];
    $scope.show_candidates = function(index) {
      $scope.current_call_list = $scope.call_lists[index];
      $http.get("/get_candidates/"+$scope.current_call_list.id).
      success(function(data, status) {
        $scope.dates = data.dates;
        $scope.rejected_candidates = data.rejected_candidates;
        console.log($scope.rejected_candidates);

      }).
      error(function(data, status) {
      });
    };
    $scope.view_candidate = function(parent_index,index,status){
      $scope.current_date_index=parent_index;
      if(status=='rejected')
      eval("$scope.can = $scope."+status+"_candidates[index];");
      else
      eval("$scope.can = $scope.dates[parent_index]."+status+"_candidates[index];");
    };

    $scope.delete_call_list = function(){
      if($scope.current_call_list)
      {
        if(confirm("Are you sure to delete call list : "+$scope.current_call_list.name))
        {
          var id = $scope.current_call_list.id;
          $http.delete("/call_lists/"+id,{headers:{'X-CSRF-Token': $('meta[name=csrf-token]').attr('content')}}).
          success(function(data, status) {
            index = $filter('getIndexById')($scope.call_lists,id);
            $scope.call_lists.splice(index,1);
          }).
          error(function(data, status) {
          });
        }
      }
      else{
        alert("CLick the call list first");
      }
    };
    $scope.approval = function(parent_index,index,status,source){
      $scope.view_candidate(parent_index,index,source);
      if(source=='rejected')
        eval("$scope."+source+"_candidates.splice(index,1);");
      else
        eval("$scope.dates[parent_index]."+source+"_candidates.splice(index,1);");
      $http.post("/approval/"+$scope.current_call_list.id+"/"+$scope.can.id,
        {status:status},
        {headers:{'X-CSRF-Token': $('meta[name=csrf-token]').attr('content')}}).
        success(function(data, status) {
          if(data.status=="rejected")
            js_to_run = "$scope.rejected_candidates.push($scope.can);";
          else if (source == 'rejected')
            js_to_run = "$scope.dates[$scope.dates.length-1]."+data.status+"_candidates.push($scope.can);";
          else
            js_to_run = "$scope.dates[parent_index]."+data.status+"_candidates.push($scope.can);";
          eval(js_to_run);
        }).
        error(function(data, status) {
        });
    };
    $scope.stop_process = function(){
      console.log($scope.current_call_list)
      if($scope.current_date_index != undefined){
      from = 'approved';
      index = $filter('getIndexById')($scope.dates[$scope.current_date_index].approved_candidates,$scope.can.id);
      if(index==null || undefined){
      from='newly_added';
      index = $filter('getIndexById')($scope.dates[$scope.current_date_index].newly_added_candidates,$scope.can.id);
      }
      ids = []
      if(from == 'approved')
      {
        for(i=0;i<=index;i++)
          ids.push($scope.dates[$scope.current_date_index].approved_candidates[i].id)
      }
      else
      {
        for(i=0;i<=$scope.dates[$scope.current_date_index].approved_candidates.length-1;i++)
          ids.push($scope.dates[$scope.current_date_index].approved_candidates[i].id);
       for(i=0;i<=index;i++)
          ids.push($scope.dates[$scope.current_date_index].newly_added_candidates[i].id);
      }

      $http.post("/stop_here/"+$scope.current_call_list.id,
        {candidate_ids: ids.join(",")},
        {headers:{'X-CSRF-Token': $('meta[name=csrf-token]').attr('content')}}).
        success(function(data, status) {
          if(data.status==true)
            location.reload;
        }).
        error(function(data, status) {
        });
      console.log(index+","+from);
      }
    };
  }
]);
</script>