/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 */

/* Font face */
  @font-face
  {
  font-family: logoFont;
  src: url('font/Alternate Gothic No2 BT.ttf'); 
  }
  @font-face
  {
  font-family: fgb;
  src: url('font/Franklin Gothic Book.ttf'); 
  }
  @font-face
  {
  font-family: fgbi;
  src: url('font/Franklin Gothic Book Italic.ttf'); 
  }
  @font-face
  {
  font-family: fgdc;
  src: url('font/Franklin Gothic Demi Cond.ttf'); 
  }
  @font-face
  {
  font-family: fgdi;
  src: url('font/Franklin Gothic Demi Italic.ttf'); 
  }
  @font-face
  {
  font-family: fgd;
  src: url('font/Franklin Gothic Demi.ttf'); 
  }
  @font-face
  {
  font-family: fgh;
  src: url('font/Franklin Gothic Heavy.ttf'); 
  }
  @font-face
  {
  font-family: fghi;
  src: url('font/Franklin Gothic Heavy Italic.ttf'); 
  }
  @font-face
  {
  font-family: fgmc;
  src: url('font/Franklin Gothic Medium Cond.ttf'); 
  }

  @font-face
  {
  font-family: fgmi;
  src: url('font/Franklin Gothic Medium Italic.ttf'); 
  }

  @font-face
  {
  font-family: fgm;
  src: url('font/Franklin Gothic Medium.ttf'); 
  }

/* == Common == */

body{
  font-family:fgb;
  font-size: 14px;
  color: #414141; 
}
input{
  height: 30px !important;
}
.body-content a{
  text-decoration: underline;
}
.btn-custom{
  margin-top: 10px;
}

.boldMe{
  font-weight: bold;
  font-size: 18px;
}
.calibri15{
  font-size: 15px;
  font-family: "Calibri";
}
.calibri17{
  font-size: 17px;
  font-family: "Calibri";
}
.profile-pic50,.profile-pic65,.profile-pic75,.profile-pic100,.profile-pic125{
  border: 1px #CCC solid;
  padding: 1px;
}
.profile-pic50{
  border-radius: 25px;
  height: 50px;
  width: 50px;
}
.profile-pic65{
  border-radius: 35px;
  height: 65px;
  width: 65px;
}
.profile-pic75{
  border-radius: 40px;
  height: 75px;
  width: 75px;
}
.profile-pic100{
  border-radius: 50px;
  height: 100px;
  width: 100px;
}
.profile-pic125{
  border-radius: 65px;
  height: 125px;
  width: 125px;
}
.position-relative{
  position: relative;
}
.h70{
  height: 70px;
}
.displayBlock{
  display: block;
}

.outlined{
padding: 5px 0px 0px 5px;
list-style: none;
outline: 1px solid #d6d6d6;
}
.profile-box{
  position: absolute;
  right: 30px;
  top: 15px;
  text-align: center;
}

.title{
  font-size: 20px;
  padding: 25px 0px 25px 0px;
  font-weight: bold;
}
/* == Header == */

.header{
  background: url(/assets/header-bg.jpg) repeat;
  height: 60px;
}
.logoFont{
  font-family: logoFont;
  font-size: 35px;
}
.header .container{
  color: #fff;
  padding:18px;
}
.header a,.header a:hover{
  color: #fff;
  text-decoration: none;
}
.nav-list li{
  float: left;
  font-size: 18px;
  padding-left: 20px;
}
.nav-list li span{
  padding-right: 10px;
}
/* == End of Header == */
a{
  cursor: pointer;
 }
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}
/* == Footer == */
.footer{
  /*height: 75px;*/
}

/* == End of Footer */
