@font-face {
    font-family: logoFonta;
    src: url('Alternate Gothic No2 BT/Alternate Gothic No2 BT.eot');
    src: local('☺'), url('Alternate Gothic No2 BT/Alternate Gothic No2 BT.woff') format('woff'), url('Alternate Gothic No2 BT/Alternate Gothic No2 BT.ttf') format('truetype'), url('Alternate Gothic No2 BT/Alternate Gothic No2 BT.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: fgb;
    src: url('/assets/font/Franklin Gothic Book/Franklin Gothic Book.eot');
    src: local('☺'), url('/assets/font/Franklin Gothic Book/Franklin Gothic Book.woff') format('woff'), url('/assets/font/Franklin Gothic Book/Franklin Gothic Book.ttf') format('truetype'), url('/assets/font/Franklin Gothic Book/Franklin Gothic Book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
  font-family: fgbi;
  src: url('/assets/font/Franklin Gothic Book Italic/Franklin Gothic Book Italic.eot');
  src: local('☺'), url('/assets/font/Franklin Gothic Book Italic/Franklin Gothic Book Italic.woff') format('woff'), url('/assets/font/Franklin Gothic Book Italic/Franklin Gothic Book Italic.ttf') format('truetype'), url('/assets/font/Franklin Gothic Book Italic/Franklin Gothic Book Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  }
  @font-face {
  font-family: fgd;
  src: url('/assets/font/Franklin Gothic Demi.eot/Franklin Gothic Demi.eot');
  src: local('☺'), url('/assets/font/Franklin Gothic Demi.woff/Franklin Gothic Demi.woff') format('woff'), url('/assets/font/Franklin Gothic Demi.ttf/Franklin Gothic Demi.ttf') format('truetype'), url('/assets/font/Franklin Gothic Demi.svg/Franklin Gothic Demi.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  }
  @font-face {
  font-family: fgdc;
  src: url('/assets/font/Franklin Gothic Demi Cond/Franklin Gothic Demi Cond.eot');
  src: local('☺'), url('/assets/font/Franklin Gothic Demi Cond/Franklin Gothic Demi Cond.woff') format('woff'), url('/assets/font/Franklin Gothic Demi Cond/Franklin Gothic Demi Cond.ttf') format('truetype'), url('/assets/font/Franklin Gothic Demi Cond/Franklin Gothic Demi Cond.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  }
  @font-face {
  font-family: fgdi;
  src: url('/assets/font/Franklin Gothic Demi Italic/Franklin Gothic Demi Italic.eot');
  src: local('☺'), url('/assets/font/Franklin Gothic Demi Italic/Franklin Gothic Demi Italic.woff') format('woff'), url('/assets/font/Franklin Gothic Demi Italic/Franklin Gothic Demi Italic.ttf') format('truetype'), url('/assets/font/Franklin Gothic Demi Italic/Franklin Gothic Demi Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  }
  @font-face {
  font-family: fgm;
  src: url('/assets/font/Franklin Gothic Medium/Franklin Gothic Medium.eot');
  src: local('☺'), url('/assets/font/Franklin Gothic Medium/Franklin Gothic Medium.woff') format('woff'), url('/assets/font/Franklin Gothic Medium/Franklin Gothic Medium.ttf') format('truetype'), url('/assets/font/Franklin Gothic Medium/Franklin Gothic Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  }
  @font-face {
  font-family: fgmc;
  src: url('/assets/font/Franklin Gothic Medium Cond/Franklin Gothic Medium Cond.eot');
  src: local('☺'), url('/assets/font/Franklin Gothic Medium Cond/Franklin Gothic Medium Cond.woff') format('woff'), url('/assets/font/Franklin Gothic Medium Cond/Franklin Gothic Medium Cond.ttf') format('truetype'), url('/assets/font/Franklin Gothic Medium Cond/Franklin Gothic Medium Cond.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  }
  @font-face {
  font-family: fgmi;
  src: url('/assets/font/Franklin Gothic Medium Italic/Franklin Gothic Medium Italic.eot');
  src: local('☺'), url('/assets/font/Franklin Gothic Medium Italic/Franklin Gothic Medium Italic.woff') format('woff'), url('/assets/font/Franklin Gothic Medium Italic/Franklin Gothic Medium Italic.ttf') format('truetype'), url('/assets/font/Franklin Gothic Medium Italic/Franklin Gothic Medium Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  }
  @font-face
  {
  font-family: logoFont;
  src: url('/assets/font/Alternate Gothic No2 BT.ttf'); 
  }
  @font-face
  {
  font-family: fgh;
  src: url('/assets/font/Franklin Gothic Heavy.ttf'); 
  }
  @font-face
  {
  font-family: fghi;
  src: url('/assets/font/Franklin Gothic Heavy Italic.ttf'); 
  }
  
/* == Common == */


body{
  font-family:fgb;
  font-size: 14px;
  color: #414141; 
  background: #f8f8f8;
}
ul{
  list-style: none;
}

.body-content a{
  text-decoration: underline;
}
.btn-custom{
  margin-top: 10px;
}

.boldMe{
  font-weight: bold;
  font-size: 18px;
}
.calibri15{
  font-size: 15px;
  font-family: "Calibri";
}
.calibri17{
  font-size: 17px;
  font-family: "Calibri";
}
.profile-pic50,.profile-pic65,.profile-pic75,.profile-pic100,.profile-pic125{
  border: 1px #CCC solid;
  padding: 1px;
}
.profile-pic50{
  border-radius: 25px;
  height: 50px;
  width: 50px;
}
.profile-pic65{
  border-radius: 35px;
  height: 65px;
  width: 65px;
}
.profile-pic75{
  border-radius: 40px;
  height: 75px;
  width: 75px;
}
.profile-pic100{
  border-radius: 50px;
  height: 100px;
  width: 100px;
}
.profile-pic125{
  border-radius: 65px;
  height: 125px;
  width: 125px;
  border: 1px #CCC solid;
padding: 1px;
}
.position-relative{
  position: relative;
}
.h70{
  height: 70px;
}
.displayBlock{
  display: block;
}

.outlined{
padding: 5px 0px 0px 5px;
list-style: none;
outline: 1px solid #d6d6d6;
}
.profile-box{
  position: absolute;
  right: 30px;
  top: 15px;
  text-align: center;
}
.title{
font-size: 20px;
padding: 25px 0px 25px 0px;
font-family: fgmc;
}
/* == Header == */
.header{
  background: url(/assets/header-bg.jpg) repeat;
  height: 60px;
}
.logoFont{
  font-family: logoFont;
  font-size: 35px;
}
.header .container{
  color: #fff;
  padding:18px;
}
.header a,.header a:hover{
  color: #fff;
  text-decoration: none;
}
.nav-list li{
  float: left;
  font-size: 18px;
  padding-left: 20px;
}
.nav-list li span{
  padding-right: 10px;
}

/* == End of Header == */
a{
  cursor: pointer;
 }
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}
/* == Footer == */
.footer{
  /*height: 75px;*/
}


/* Add candidate*/

.padding15{
  padding: 15px;
}


.other-list{
  list-style: none;
  padding-top: 10px;
}
.other-list li span{
  padding: 10px;
}
.other-list li{
  padding: 10px;
}

.other-head {
padding: 28px 10px;
color: #0184ad;
font-family: fgmc;
font-size: 25px !important;
}

.leftSide{
  background: #ecebeb;
  height: 800px;
  margin-left: 10px;
}
.users-list{
  padding: 5px 0px 0px 5px;
  font-family: 'Calibri';
  list-style: none;
  /*outline: 1px solid #d6d6d6;*/
  margin: 0px;
}
.users-list li{
  height: 190px;
  padding: 10px;
  margin-right: 10px;
  border-bottom: 1px dashed #d6d6d6;
}
.users-list li:last-child{
  border-bottom: none;
}
.users-list div{
  display: inline-block;
}
.users-list span{
  display: block;
  padding: 5px 0px;
}
.head{
  color: #0184ad;
  font-family: fgmc;
  font-size: 17px;
  font-weight: bold;
}
.profile-pic-box{
  width: 100px;
}
.profile-info-box{
width: 493px; 
position: absolute;
left: 90;
top: 0px;
}
.profile-info-right{
  position: absolute;
  right: 20;
  text-align: right;
}

.links-list{
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 15px;
}
.links-list span{
  padding: 10px;
  display: block;
}
.works span{
  padding-left: 10px;
  display: block;
  font-size: 15px;
  font-family: fgmc;
}

.add-more{
  margin-left: 35px;
  margin-top: 18px;
}


ul.token-input-list-facebook {
  width: 218px !important;
  margin-bottom: 10px !important;
}