// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index{
	.add-more{
	/*margin-left: 35px;*/
	margin-top: 18px;
}
.add-more a{
	font-family: fgmc;
	font-size: 18px;
	text-decoration: none;
	margin-right: 25px;
}

}
.register-box{
margin-top: 20px;
outline: 1px solid #ddd;
padding: 15px 0px 15px 28px;
}
input{
  min-height: 30px !important;
}